#about{
    margin-bottom: 100px;
}
#about .about-img{
    overflow: hidden;
    border: 5px solid var(--main-color);
}
#about .about-img img{
    transform: scale(1);
    width:100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#about .about-img img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#about .title{
    margin-top: 30px;
}
#about .title h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color:var(--main-color);
    font-size: 27px;
    display: inline-block;
    position: relative;
}
#about .title h2::after {
    position: absolute;
    content: '';
    top: 89%;
    left: 10%;
    width: 70%;
    height: 2px;
    background-color: var(--main-color);
}
#about .abouttext h3{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color:var(--rpara);
    font-size: 18px;
    font-weight: 400;
}
#about .abouttext p{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color:var(--rpara);
    font-weight: 400;
    text-align: justify;
}
#about .about{
margin-top: 20px;
}
#about .subtitle{
margin-top: 45px;
}
#about .subtitle h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color:var(--rpara);
    font-size: 22px;
    color:var(--main-color);
    position: relative;
}
#about .subtitle h4::after{
    position: absolute;
    content: '';
    top: 92%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}
#about .skill{
    display: flex;
    /* justify-content: space-between; */
}
#about .skill .block{
    margin-right: 20px;
}
#about .skill .block li{
    font-family: 'Source Code Pro', monospace;
    color:var(--rpara);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color:var(--rpara);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#about .skill .block li:hover{
    color:var(--main-color);
}

/* ======================Responsive================================= */

@media (min-width:320px) and (max-width:575px){
    #about .abouttext h3 {
        font-size: 16px;
    }
    #about .abouttext p {
        font-size: 14px;
    }
    #about .skill .block {
        padding-left: 0px;
        padding-right: 30px;
    }
    #about .skill .hide{
        display: none;
    }
    #about .skill .block li {
        font-size: 14px;
    }
}
@media (min-width:576px) and (max-width:767px){
    #about .abouttext p {
        font-size: 14px;
    }
    #about .abouttext h3 {
        font-size: 16px;
    }
    #about .skill .block li {
        font-size: 14px;
    }
}
@media (min-width:768px) and (max-width:991px){
    #about .abouttext h3 {
        font-size: 16px;
    }
    #about .abouttext p {
        font-size: 14px;
    }
    #about .title {
        margin-top: -5px;
    }
    #about .about {
        margin-top: 7px;
    }
    #about .subtitle {
        margin-top: 26px;
    }
    #about ul {
        padding: 0;
    }
    #about .skill .block li {
        font-size: 14px;
        padding-right: 20px;
    }
    #about .about-img img {
        width: 124%;
        height: 270px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    #about .title {
        margin: 0;
    }
    #about .abouttext h3 {
        font-size: 16px;
    }
    #about .abouttext p {
        font-size: 14px;
    }
    #about .skill .block li {
        font-size: 14px;
    }
    #about .about {
        margin-top: 15px;
    }
}
@media (min-width:1200px) and (max-width:1399px){

}