#rcontact{
    padding: 100px 0;
    background-color: aliceblue;
}
#rcontact .title{
    margin-bottom: 50px;
}
#rcontact .title h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color:var(--main-color);
    font-size: 27px;
    display: inline-block;
    position: relative;
}
#rcontact .title h2::after{
    position: absolute;
    content: '';
    top: 89%;
    left: 10%;
    width: 70%;
    height: 2px;
    background-color: var(--main-color);
}
#rcontact .rcontact-item{
    position: relative;
    margin-top:75px;
    margin-left: 30%;
}
#rcontact .rcontact-item .citem .call{
    font-size: 24px;
    margin-top: 18px;
    color:var(--main-color);
}
#rcontact .rfrom{
    margin-top: 25px;
}
#rcontact .rcontact-item .citem .phone{
    position: absolute;
    top:10%;
    left:12%;
}
#rcontact .rcontact-item .citem .phone p{
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color:var(--main-color);
    margin-bottom: 30px;
    margin: 0;
}
#rcontact .rcontact-item .citem .phone span{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    color:var(--rpara);
    margin-bottom: 30px;
    margin: 0;
}
.form-control {
    width: 75%;
    font-size: 14px;
    color: #212529;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #15c39a;
    border-radius: 25px;
    padding: 12px 17px;
}
.form-label {
    margin-bottom: .5rem;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}
.comment {
    font-size: 16px;
    border-radius: 5px !important;
    font-family: 'Source Code Pro', monospace;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
textarea.form-control {
    border-radius: 10px;
}
.cbtn{
    font-size: 16px;
    color: rgb(51, 51, 51);
    background-color: white;
    padding: 12px 28px !important;
    border:1px solid #10ac84;
    font-family: 'Source Code Pro', monospace;
    border-radius: 25px;
    transition: .4s;
    transition: .4s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.cbtn:hover{
    border:1px solid #10ac84;
    color: white;
    background-color: var(--main-color);
}

/* ======================Responsive================================= */

@media (min-width:320px) and (max-width:575px){
    #rcontact {
        padding: 50px 0;
    }
    #rcontact .rcontact-item {
        margin-top: 35px;
        margin-left: 40%;
        transform: translateX(-50%);
    }
    #rcontact .rcontact-item .citem .phone {
        top: 10%;
        left: 21%;
    }
    #rcontact .title {
        margin-bottom: -8px;
    }
    #rcontact .rform {
        padding-top: 78px;
        padding-left: 31px;
    }
    #rcontact .form-control {
        width: 88%;
        padding: 10px 17px;
    }
    #rcontact .cbtn {
        font-size: 16px;
        padding: 8px 22px !important;
        border: 1px solid #10ac84;
    }
}
@media (min-width:576px) and (max-width:767px){
    #rcontact .cbtn {
        font-size: 16px;
        padding: 8px 22px !important;
        border: 1px solid #10ac84;
    }
    #rcontact .rcontact-item {
        margin-top: 71px;
        margin-left: 0;
    }
    #rcontact .form-control {
        width: 100%;
    }

}
@media (min-width:768px) and (max-width:991px){
    #rcontact .cbtn {
        font-size: 16px;
        padding: 8px 22px !important;
        border: 1px solid #10ac84;
    }
}
@media (min-width:992px) and (max-width:1199px){
    #rcontact .cbtn {
        font-size: 16px;
        padding: 8px 22px !important;
        border: 1px solid #10ac84;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    #rcontact .cbtn {
        font-size: 16px;
        padding: 10px 22px !important;
        border: 1px solid #10ac84;
    }
}