
.rbtn{
    font-size: 18px;
    color: var(--main-color);
    padding: 10px 15px;
    border:1px solid var(--main-color);
    font-family: 'Source Code Pro', monospace;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    transition: .4s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/* p{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    font-weight: 400;
    color:var(--rpara);
    margin-bottom: 30px;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color:var(--rpara);
    font-size: 18px;
    color:var(--rpara);  
} */